# Datas folder. Tracking only csv_pkl_files and crucial (empty) folders.
/data/Alignments
/data/FASTAs
/data/PDBs/*
/data/temp
/data/bkup_PDBs
/data/Targets/*
/data/unused_templates/*
/outputs/*


# Misc
.DS_Store
/modelling_scripts/.DS_Store
/modelling_scripts/contact-chainID_allAtoms
/modelling_scripts/*.pyc
/modelling_scripts/__pycache__
