# Data folders.
/Databases

# Misc
*.egg-info
./__pycache__/
/PANDORA/__pycache__/
/PANDORA/*/__pycache__/
.DS_Store

._*
*.out
*.swp
*.sh.e*
*.sh.o*
/test/*.fasta
/test/*ali
/test/BL*.pdb
/test/test_output/*
/build/
