# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches:
      - '*'
      - '!__*'
  pull_request:
    branches:
      - '*'
      - '!__*'
  workflow_dispatch:

# A workflow  run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Set up directories
        run: python test/install_git_test.py
      - name: Install package
        run: |
          pip install joblib
          conda install -c bioconda muscle
          conda install -c salilab modeller
          python -m pip install --upgrade pip
          pip install -e .[test]
      - name: Test with pytest
        run: |
          pytest test/ --cov=PANDORA --cov-config=.coveragerc --cov-report xml:coverage.xml
      - name: Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage.xml
        run: |
          coveralls --service=github
